/* styles.css */
body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

body.essay{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

p {
  color: white;
  background-color: black;
}

div {
  color: red;
}
ul {
  justify-content: center;
  align-item: center;
}
